.title {
    margin-top: 0em;
  }
  
  h1 {
    font-size: 28px;
    margin: 0;
    font-family: poppins !important;
  }
  
  p {
    color: #6b7280;
    font-size: 14px;
    font-family: poppins !important;
  }
  